<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Exercise Performance - EventDispatcher, RabbitMQ, Redis, Elasticsearch!{% endblock %}</title>
    <link href="{{ asset('build/app.css') }}" id="theme" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    {% block pagecontent %}{% endblock %}

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Developed by Mario Hidalgo García - MPUWAR 2017-2018</p>
            <span class="small">Exercise Performance - EventDispatcher, RabbitMQ, Redis, Elasticsearch!</span>
        </div>
    </footer>
</div>
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>

{% block customscripts %}{% endblock %}

</body>
</html>
