{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Styles -->
{% endblock %}

{% block customscripts %}
    <!-- Javascript -->
{% endblock %}

{% block pagecontent %}
    <div class="cover-container d-flex h-25 mx-auto ">
        <div class="inner">
            <header class="masthead mb-auto">
                <h3>Exercise Performance</h3>
            </header>
        </div>
    </div>

    <section>
        <div class="search-container">
            <div class="row">
                <div class="col-8">
                    <form action="{{ path('view_image') }}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="elastic" placeholder="Search image...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                        </div>
                    </form>
                </div>

                <div class="col-4 show-image">
                    <a href="{{ path('view_image') }}">Show all images</a>
                </div>
            </div>
        </div>
    </section>

    <main role="main" class="inner cover uploader"
          data-upload-image="{{ path('upload_image') }}">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div id="imagesUpload" class="dropzone">
                        <div class="fallback">
                            <input id="images1" class="form-control" type="file" multiple/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
